<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!!!!</p>
<!--
    <a href="http://localhost:65080/admin">관리자</a>
    <a href="http://nodeservertest-229301.appspot.com/users">유저</a>
-->
    <a href="http://127.0.0.1:65080/admin">관리자</a>
    <a href="http://127.0.0.1:65080/users">유저</a>
  </body>
</html>
